body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin:0;
}
main{
    margin: 20px;
    flex: 1;
}
header{
    background-color: #c42700;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    color: white;
    background-color: #333;
    padding: 15px 20px;
    margin: 15px;
    text-decoration: none;
    border-radius: 10px;
    display:block;
    font-size: 18px;
}
nav a:hover{
    background-color: #555;
}
main{
    flex: 1;
}
#current{
    background-color: #777;
}
#sidebar{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}
.aside{
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}
#sidebar p{
    text-align: center;
    margin-top: 200px;
}
.aside img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
#impact{
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.row{
    display:flex;
    flex-flow: row wrap;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    border:thin solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
    width:40%;
    margin:20px;
}
.card img{
    border-radius: 10px;
    width:100%;
    height:auto;
}
.comparison{
    width:100%;
    background-color: #e2e2e2;
    border-spacing:0;
    border-collapse: collapse;
    border-top:thin solid black;
    border-bottom:thin solid black;
}
.comparison tr,th{
    border:thin solid black;
    padding:10px;
}
.comparison td{
    text-align: center;
}
.comparison thead{
    background-color: rgb(160, 159, 159);
    color:white;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-row, .check-row{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.form-row label{
    width: 150px;
    text-align: right;
}
.form-row input[type=submit]{
    padding: 10px 20px;
    background-color: #c42700;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}
.form-row input:not([type=submit]),select,textarea{
    padding: 5px;
    border-radius: 4px;
}
.spacer{
    width:150px;
    text-align: right;
}
fieldset{
    background-color: floralwhite;
    border-radius: 6px;
    padding: 15px;
}
legend{
    font-weight: bold;
    background-color: antiquewhite;
    padding: 5px 10px;
    border-radius: 4px;
}
footer{
    background-color: #c42700;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    position: relative;
}
footer a{
    color: white;
    background-color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}
footer a:hover{
    background-color: #555;
}
@media ONLY screen and (max-width:500px){
    nav{
        flex-direction: column;
    }
    .form-row, .check-row{
        flex-direction: column;
    }
    .form-row label, .spacer{
        text-align: left;
    }
    .form-row input[type=submit]{
        width: 100%;
    }
}