body{
    font-family: Arial, Helvetica, sans-serif;
    color:chartreuse;
    background: url(background.jpg);
    background-repeat: repeat;
    background-color: gray;
}
header{
    background-image: url(image.jpg);
    background-position: right;
}
.list{
    list-style-image: url(dot.png);
}
.current{
    color: yellow;
    font-weight: bold;
}
.navlink{
    color: white;
}
img{
    max-width: 50%;
    height: auto;
}