body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-row, .check-row{
    display:flex;
    gap:10px;
    margin: 15px 0;
}
.form-row label{
    width: 150px;
    text-align: right;
}
.spacer{
    width:150px;
    text-align: right;
}
.form-row input:not([type=submit]), select, textarea{
    padding:5px;
    border-radius:4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cornsilk;
}
.form-row input:not([type=submit]):focus, select:focus, textarea:focus{
    background-color: white;
}
.form-row input[type=submit]{
    padding: 8px 15px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
fieldset{
    background-color: aliceblue;
    width: 80%;
    margin:auto;
}
legend{
    font-weight: bold;
    background-color: lightgray;
    padding: 5px;
}
@media ONLY screen AND (max-width:480px){
    .form-row, .check-row{
        flex-direction:column;
    }
    .form-row label, .spacer{
        text-align: left;
    }
}